/*
/*.tree-root {
  padding-left: 0;
}

.tree-branch {
  list-style: none;
  position: relative;
}

/
.tree-branch::before {
  content: "";
  position: absolute;
  top: -4px;
  bottom: 0;
  left: 1.3rem; /* 
  width: 2px;
  background-color: transparent;
}

/* 
.tree-node-group {
  position: relative;
}
.tree-node-group::before {
  content: "";
  position: absolute;
  top: 14px;
  left: 1.3rem;
  width: 1rem;
  height: 2px;
  background-color: currentColor;
}

/*
.tree-node-group.level-ck::before,
.tree-branch.level-ck::before {
  color: #22d3ee; /* 
  background-color: #22d3ee;
}
.tree-node-group.level-so::before,
.tree-branch.level-so::before {
  color: #d97706; /*
  background-color: #d97706;
}
.tree-node-group.level-m::before,
.tree-branch.level-me::before {
  color: #8b5cf6; /*
  background-color: #8b5cf6;
}
.tree-node-group.level-i::before,
.tree-branch.level-i::before {
  color: #22c55e; /* green
  background-color: #22c55e;
}

/* Último hijo ya NO dibuja línea vertical 
.tree-branch:last-child::before {
  height: 14px;
}

/* Títulos sin línea 
.tree-title::before,
.tree-title::after {
  display: none !important;
}
*/